.description {
    margin-top: 50px;
    text-align: center;
}

.name {
    font-weight: bold;
    font-size: xx-large;
}

.tag {
    font-weight: bold;
    font-size: 22px;
    color: chartreuse;
}

.location {
    font-weight: bold;
    font-size: 28px;
    color: rgb(235, 181, 181);
    margin-bottom: 20px;  
}

.stats {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.stats li {
    margin-right: 30px;
    font-size: 26px;
    background-color: tomato;
    border-radius: 20px;
    padding: 5px;
}